body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#222;
    font-family:Arial,sans-serif;
}

.digit-window{
    width:70px;
    height:100px;
    overflow:hidden;
    border:2px solid transparent;
}

.digit-strip{
    transition:transform .8s ease;
}

.digit{
    width:70px;
    height:100px;
    line-height:100px;
    text-align:center;
    color:white;
    font-size:80px;
    font-weight:bold;
}
